{#<h1>{{ title }}</h1>
{% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %}#}
{% extends 'base.html.twig' %}

{% block body %}
    

<h1>Bienvenue dans ce blog</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere voluptatum impedit accusantium, quod perferendis alias, modi assumenda veritatis officiis amet qui enim quaerat debitis at eligendi quam! Ex voluptatum alias id. Tenetur, excepturi? Fugiat eum necessitatibus aut delectus dolor? Obcaecati!</p>
<p>Soluta cumque officiis temporibus alias fugit odio molestias. Similique facere aliquam nemo non dignissimos minus eveniet eaque deserunt perspiciatis nobis et earum praesentium, nulla mollitia magnam, ea voluptates dolorem. Beatae iste molestias rerum, sequi eligendi excepturi amet sint nobis eum!</p>
{% endblock %}
