{% extends "base.html.twig" %}
{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metada">Ecrit le 20/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Aspernatur nostrum nesciunt, suscipit voluptate nisi maxime et voluptatibus excepturi harum aut saepe, quas quae.</p>
            <p>Placeat sequi magni fugiat inventore perferendis libero, officiis, laboriosam ab sed, nesciunt excepturi! Illo, placeat!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quam nesciunt ab at provident ullam debitis veniam voluptatem voluptatibus temporibus? Error similique sapiente ea explicabo non veritatis eveniet placeat, voluptatibus veniam. Deleniti mollitia quam atque recusandae nemo aut accusantium blanditiis, iusto explicabo corrupti magni. Ab recusandae nostrum quasi aliquam autem?</p>
            <p>Saepe eos rerum odit temporibus obcaecati similique quisquam veniam consectetur perspiciatis in minus eaque, doloribus, pariatur quod ducimus tempora? Atque itaque libero esse earum fugiat. Quod animi iure, culpa asperiores, aperiam aspernatur beatae, perspiciatis assumenda aliquam doloribus recusandae in porro facere tempora ipsam? Architecto deserunt totam, voluptas ad pariatur nulla.</p>
        </div>
    </article>
    
{% endblock %}